h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
input{
    height: 36px;
    border-radius: 20px 0px 0px 20px;
    font-size: 25px;
    font-family: 'Ranga', cursive;
    padding-left: 20px;
}
button{
    height: 42px;
    font-size: 25px;
    font-family: 'Ranga', cursive;
    background-color: cornflowerblue;
}
/*p{*/
    /*font-size: 25px;*/
    /*background-color:rgba(228,85,85,0.2) ;*/
    /*max-width: 300px;*/
    /*padding: 20px;*/

/*}*/
.arriba{
    display: flex;
    flex-direction: column;
    align-items: center;
}