div{
    font-size: 25px;
    background-color:rgba(228,85,85,0.2) ;
    max-width: 300px;
    padding: 20px;
    margin-top: 20px;
    border-radius:20px;
}

.af{
    background-color: red;
}
.neg{
    background-color: blue;
}
.neu{
    background-color: pink;
}
